* {
    box-sizing: border-box;
  }
  
  img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: flex;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }  
  .product__title{
    margin-top: 50px;
    margin-bottom: 35px;
    font-size: 20px;
  }
  .product__img .mySlides{
    border: 1px solid rgba(204, 204, 204, 0.492);
    margin-right: 55px;
  }
  .product__buy{
    margin-top: 25px;
  }
  .product__buy span{
    cursor: pointer;
    font-size: 30px;
  }
  .product__buy span:hover{
    color: #fc8410;
  }
  .product__buy input{
    background-color: transparent;
    font-size: 30px;
  }
  .product__buy button{
    margin-left: 10px;
    background-color: #fc8410;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 8px 14px;
  }
  .product__buy button:hover{
    background-color: #106853;
  }
  .product{
    display: flex;
  }
  .product__title a{
    text-decoration: none;
    color: #222;
  }
  .product__title a:hover{
    color: #222;
  }
  @media (max-width: 768px){
    .product{
        display: block;
    }
    .product__info{
        text-align: center;
    }
  }