@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');
*{
    transition: 0.2s all;
    font-family: "Montserrat", sans-serif;
}
input:focus-visible{
    border-color: #fc8410;
    outline: none;
}
.nav{
    background: url(./public/images/pattern/leaf-header-1.png) no-repeat;
    background-position: top right;
    background-color: #fc8410;
}
.header__top ul{
   display: flex;
   list-style: none;
   gap: 10px;
   margin-top: 10px;
}
.header__top ul li
{
    border: 2px solid #FFFF;
    border-radius: 6px;
    padding: 5px 8px;
}
.header__top ul li a
{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
}
.header__top ul li:first-child a
{
    color: #FFFF;
}
.header__top ul li:last-child
{
    background-color: #FFFF;
}
.header__top ul li:last-child a
{
    color: black;
}
.header__top ul li:hover 
{
    background-color: #106853;
    border-color: #106853;
}
.header__top ul li a:hover
{
    color: #FFFF;
}
.header__middle{
    overflow: hidden;
}
.nav__search form{
    width: 100%;
}
.nav__search input
{
    background-color: transparent;
    border-color: #FFFF;
    border: 2.2px solid #FFFF;
    border-radius: 6px;
    height: 52px;
    width: 100%;
    padding: 0 15px;
    color: #FFFF;
}
.search__icon
{
   font-size: 25px;
   color: #FFFF;
   cursor: pointer; 
   position: absolute;
   top: 15%;
   left: calc(100% - 33px);
}
.nav__icon
{
    justify-content: center; 
}
.nav__icon ul
{
    list-style: none;
    gap: 15px;
}
.nav__icon i{
    color: #ffffff;
    font-size: 30px;
}
.nav__category
{
    display: none;
}
hide:hover + .nav__category
{
    display: block;
}
.notification {
    color: white;
    text-decoration: none;
    position: relative;
    border-radius: 50%;
}
.notification .badge {
    position: absolute;
    top: -11px;
    right: -10px;
    padding: 5px 8px;
    border-radius: 60%;
    background: red;
    color: white;
    font-weight: 400;
    min-height: 20px;
    min-width: 20px;
}
.header__bottom
{
    margin-top: 20px;
}
.category__list
{
    color: #FFFF;
    text-align: center;
    padding-top:  17px;
    background-color: #106853;
    font-size: 18px;
    height: 100%;
}
@media (max-width: 991px){
    .category__list{
        padding-top: 25px;
    }
}
.category__list img
{
    margin-right: 15px;
}
.category{
    position: relative;
}
.category__menu{
   width: 100%;
}
.main__list li{
    list-style: none;
}
.main__list li a::after
{
    text-decoration: none;
    content: '';
    width: 0%;
    height: 1px;
    background: #106853;
    display: block;
    left: 0;
    transition: 0.2s;
}
.main__list li a:hover::after
{
    width: 100%;
}
.category__menu img
{
    margin-right: 10px;
    width: 20px;
}
.nav__menu
{
    margin-top: 15px;
    gap: 25px;
    margin-left: 15px;
}
/* Mobile nav toggle icon */
.mobile__nav__toggle {
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 4px;
    background-color: #FFFF;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 5px;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  /* Mobile nav toggle icon */
.nav__item a
{
    text-decoration: none;
    color: #FFFF;
    font-size: 18px;
    font-weight: 400;
    padding: 3px;
}
.nav__item a:hover
{
    color: #FFFF;
}
.nav__item a::after
{
    content: '';
    width: 0%;
    height: 1px;
    background: #ffff;
    display: block;
    transition: 0.2s;
    left: 0;
}
.nav__item a:hover::after
{
    width: 100%;
}
.nav__item button
{
    background-color: transparent;
    border: none;
    color: #FFFF;
}
.dropdown {
    position: relative;
    display: inline-block;
} 
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: #FFFF;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover
{
    color: black;
}
.dropdown-content a::after
{
    content: '';
    width: 0%;
    height: 1px;
    background: black;
    display: block;
    left: 0;
    transition: 0.2s;
}
.dropdown:hover .dropdown-content {display: block;}
.mobile-container,
.mobile__category__menu, #mobile__category{
    display: none;
}
@media  (max-width: 991px){.nav__menu .nav__item a{font-size: 16px;} .nav__menu{gap: 15px;}}
@media  (max-width: 933px){.nav__menu .nav__item a{font-size: 15px;} .nav__menu{gap: 12px;}}
@media  (max-width: 859px){.nav__menu .nav__item a{font-size: 14px;} .nav__menu{gap: 10px;}}
@media  (max-width: 813px){.nav__menu .nav__item a{font-size: 12px;} .nav__menu{gap: 7px;}}
@media  (max-width: 768px){
    .nav__logo{
        display: flex;
        justify-content: center;
    }
    .nav__logo img{
        width: 100px;
    }
    .header__top ul li
    {
        border: none;
    }
    .header__top ul li a{
        font-size: 14px;
        font-weight: 500;
    }
    .header__top ul li:last-child{
        background-color: transparent;
    }
    .header__top ul li:last-child a{
        color: #FFFF;
    }
    .header__top ul li:hover{
        background-color: transparent;
    }
    .header__top ul li a::after 
    {
    content: '';
    width: 0%;
    height: 1px;
    background: #ffff;
    display: block;
    left: 0;
    transition: 0.2s;
    }
    .header__top ul li a:hover::after
    {
    width: 100%;
    }
    .nav__search form{
        display: none;
        position: absolute;
    }
    .nav__item, .nav__item button{
        display: none;
    }
    .category__list{
        width: 100%;
        padding-bottom: 15px;
        text-align: center;
    }
    .nav__icon ul li{
        display: none;
    }
    .category__list{
        display: none;
    }
/* Hamburger Menu Styles */
.mobile-container {
    display: block;
    max-width: 768px;
    color: white;
    border-radius: 10px;
  }
.topnav {
    overflow: hidden;
    position: relative;
  }
  .topnav #myLinks {
    display: none;
  }
  .topnav li{
    list-style: none;
  }
  .topnav a{
    color: white;
    margin-top: 5px;
    margin-bottom: 15px;
    left: 0;
    font-size: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
  }
  .topnav a:hover{
    color: #FFFF;
  }
  #mylinks ul li{
    list-style: none;
  }
  #mylinks ul li a{
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    margin-bottom: 15px;
  }
  #mylinks ul li a:hover{
    color: #FFFF;
  }
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }  
  .active {
    color: white;
  }
  .nav__search form{
    width: 100%;
}
.mobile__search input
{
    background-color: transparent;
    border-color: #FFFF;
    border: 2.2px solid #FFFF;
    border-radius: 6px;
    height: 35px;
    width: 100%;
    padding: 0 15px;
    color: #FFFF;
}
.mobile__search__icon
{
   font-size: 15px;
   color: #FFFF;
   cursor: pointer; 
   position: absolute;
   top: 25%;
   left: calc(100% - 33px);
}
.mobile__nav__icons{
    margin-top: 15px;
    margin-right: 10px;
    justify-content: space-between;
}
.mobile__nav__icons li{
    list-style: none;
}
.mobile__nav__icon ul{
    gap: 15px;
}
.mobile__nav__icons i{
    font-size: 30px;
}
.fa-bars{
    margin-top: 13px;
}
.mobile__notification {
    color: white;
    text-decoration: none;
    position: relative;
    border-radius: 50%;
}
.mobile__notification .mobile__badge {
    position: absolute;
    top: -11px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
    font-size: 9px;
}
  /* End of Hamburger Menu Styles */
  /* Mobile Category Styles */
  .mobile__category__menu {
    display: block;
    background-color: #106853; 
    text-align: center;
    padding-top: 20px;
    width: 100%;    
  }
  .mobile__category__menu a{
    text-decoration: none;
    color: #FFFF;
  }
  .mobile__category__menu a:hover{
    color: #FFFF;
  }
  #mobile__category ul li{
    list-style: none;
    width: 300px;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 10px;
    font-size: 15px;
   }
   #mobile__category ul li img{
      float: right;
   }
   #mobile__category ul li:last-of-type{
      padding-bottom: 20px;
   }
  /* End of Mobile Category Styles */
}
/* Carousel Styles */
.carousel{
    margin-top: 30px;
}
/* End of Carousel Styles */
/* Office Styles */
.office{
    margin-top: 50px;
    background-color: #f8f8f8;
    background-image: url("./public/images/pattern/leaf-office-left-1.png"), url("./public/images/pattern/leaf-office-right-1.png");
    background-repeat: no-repeat;
    background-position: left 90%, right 50%;
}
.qida__section{
    margin-top: 0;
    padding-bottom: 100px;
}
.title{
    text-align: center;
    padding-top: 35px;
    /* font-size: 32px; */
}
.title::after 
{
   content: '';
   width: 30px;
   height: 4px;
   border-radius: 6px;
   background: #106853;
   display: block;
   margin: auto;
   margin-bottom: 15px;
}
.wrapper
{
   justify-content: center;
   gap: 20px;
}
.item{
    width: 330px;
    height: 427px;
    background-color: #ffffff;
    padding: 8px;
    margin-bottom: 15px;
}
.item__info, .item__img{
    text-align: center;
}
.item__info img, .item__img img{
    text-align: center;
    width: 200px;
    height: 200px;
}
.item__info img:hover,
.item__img img:hover{
    width: 220px;
    height: 220px;
    transition: 0.5s all;
}
.item__header{
    display: flex;
    justify-content: space-between;
}
.tovsiyye__header{
    width: 115px;
    height: 35px;
    padding: 6px 12px;
    background-color: #106853;
    border-radius: 6px;
    color: #f8f8f8;
    font-size: 13px;
    font-weight: 500;

}
.item__header__right button{
    background-color: transparent;
    border: none;
    float: right;
    margin-right: 0;
}
.item__name{
    padding-top: 18px;
    text-align: center;
    font-weight: 600;
}
.item__price{
    text-align: center;
    padding-top: 20px;
    font-weight: 600;
}
.item__button{
    text-align: center;
    padding-top: 20px;
}
.item__button button{
    background-color: transparent;
    border-radius: 6px;
    padding: 8px 40px;
    border: 1px solid rgba(128, 128, 128, 0.558);
    color: black;
    font-weight: 500;
}
.item__button button:hover{
    background-color: #106853;
    border-color: #106853;
    color: #f8f8f8;
}
@media (max-width: 1300px){
    .wrapper{
        flex-wrap: wrap;
    }
}
/* Divisions Styles */
.divisions{
    background-color: rgb(252, 132, 16);
    background-image: url("./public/images/pattern/leaf-category-left-1.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    padding-bottom: 50px;
}
.divisions .title::after{
    background-color: rgb(255, 255, 255);
}
.divisions__item{
    position: relative;
}
.divisions__wrapper{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.divisions__item__img {
    overflow: hidden;
}
.divisions__item__img img{
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    transform: scale(1);
    overflow: hidden;
}
.divisions__item__text h3 a{
    position: absolute;
    z-index: 1;
    text-decoration: none;
    color: black;
    margin-top: 30px;
    margin-left: 30px;
}
.divisions__small__item h3 a{
    font-size: 19px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 10px;
}
.divisions__item:hover .divisions__item__text h3 a,
.divisions__small__item:hover + .divisions__item  .divisions__item__text h3 a{
    transition: .5s all;
    opacity: 1;
    top: 40%;
    left: 40%;
    /* transform: translate(50%, 50%); */
    color: #f8f8f8;
  }
  .divisions__item:hover .divisions__item__img img{
    filter: brightness(20%);
    /* transform: scale(1.2); */
    overflow: hidden;
  }
@media (max-width: 1200px){
    .divisions__small__item h3 a{
        font-size: 15px;
    }
  }  
@media (max-width: 991px){
    .divisions__wrapper{
        flex-wrap: wrap;
    }   
}
@media (max-width: 575px){
    .divisions__small__item h3 a{
        font-size: 20px;
    }
}
/* Category Styles */
.section{
    background-color: #106853;
    background-image: url("./public/images/pattern/leaf-category-right-1.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-top: 50px;
}
.section__small__wrapper{
    margin: 0;
    padding: 0;
}
.section__wrapper{
    display: flex;
    gap: 15px;
    margin-top: -120px;
    padding-bottom: 100px;
    justify-content: center;
}
.section__item{
    position: relative;
}
.section__item h3 a{
    font-size: 25px;
}
.section__item__img {
    overflow: hidden;
}
.section__item__img img{
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    transform: scale(1);
    overflow: hidden;
}
.section__item__text h3 a{
    position: absolute;
    z-index: 1;
    text-decoration: none;
    color: black;
    margin-top: 30px;
    margin-left: 30px;
}
.section__small__wrapper h3 a{
    font-size: 19px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 10px;
}
.section__item:hover .section__item__text h3 a{
    transition: .5s ease;
    opacity: 1;
    top: 30%;
    left: 25%;
    color: #f8f8f8;
  }
  .section__item:hover .section__item__img img{
    filter: brightness(20%);
    /* transform: scale(1.2);    */
    overflow: hidden;
  }  
  @media (max-width: 1200px){
    .section__item h3 a{
       font-size: 20px;
    }   
  }
  @media (max-width: 991px){
    .section__wrapper{
        flex-wrap: wrap;
        margin-top: 0;
        padding-bottom: 0;
    }   
}
.increment__input{
    width: 40px;
    border-radius: 6px;
    text-align: center;
}
.remove__button{
    background-color: rgb(200, 35, 51);
    height: 50px;
    margin-top: 15px;
    border-radius: 6px;
    margin-left: 10px;
    color: #eee;
    border: none;
    padding: 0 10px;
    font-size: 15px;
}
.remove__button:hover{
    background-color: black;
}
/* Brands Styles */
.brands__item{
    margin: 0 auto;
    width: 120px;
    height: 120px;
}
/* Footer Styles */
footer{
    padding-top: 35px;
    background-color: #f8f8f8;
}
.footer__wrapper{
    display: flex;
    justify-content: space-between;
}
.footer__social__media{
    margin-top: 15px;
    text-align: center;
}
.footer__social__media a{
    margin-right: 15px;
    font-size: 22px;
    color: #106853;
}
.footer__social__media a:hover{
    color: #106853;
}
.footer__item ul{
    list-style: none;
    line-height: 1.6em;
}
.footer__item ul li a{
    text-decoration: none;
    color: black;
    position: relative;
}
.footer__item ul li a::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 1.2px;
    display: block;
    left: 0;
    bottom: -3px;
    transition: 0.6s;
    background-color: #fc8410;
}
.footer__item ul li a:hover::after{
    width: 100%;
}
.footer__bottom{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
@media (max-width: 991px){
    .footer__wrapper{
        display: block;
        text-align: center;
    }
    .footer__item{
        text-align: center;
    }
    .footer__item ul{
        padding-left: 0;
    }
    .footer__logo{
        margin-bottom: 30px;
    }
    .footer__logo img{
        width: 100px;
    }
    .footer__social__media a{
        margin-right: 10px;
    }
    .footer__bottom{
        display: block;
        text-align: center;
        font-size: 15px;
    }
}
/* About Styles */
.about__title{
    height: 135px;
    background: url(./public/images/pattern/leaf-title.png) no-repeat;
    background-position: center;
    margin-top: 35px;
}
.about__title a{
    text-decoration: none;
    color: black;
}
.about__title a:hover{
    color: black;
}
.about__info h2{
    margin-bottom: 25px;
}
.about__info{
    color: rgb(33, 37, 41);
    font-size: 18px;
    line-height: 28px;
}
.about__img img{
    width: 100%;
}
.about__container{
    display: flex;
}
@media (max-width: 991px){
    .about__container{
        display: block;
    }
    .about__info{
        font-size: 14px;
        line-height: 20px;
    }
} 
/* New styles*/
.new{
    background-color: #f8f8f8;
}
.new__header{
    background-color: #fc8410;
    font-size: 12px;
    color: #f8f8f8;
    padding: 6px 12px;
    border-radius: 6px;
}
/* End of new styles */
/* Pagination styles */
.pagination {
    display: flex;
    gap: 5px;
    justify-content: center;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 4px 8px;
    text-decoration: none;
    border: 1px solid #106853;
    color: #106853;
    border-radius: 6px;
  }
  .pagination a:hover{
    background-color: #fc8410;
    color: #f8f8f8;
    border: 1px solid #fc8410;
  }
  @media (max-width: 445px)
  {
    .pagination a{
      font-size: 9px;
    }
  }
  @media (max-width: 381px)
  {
    .pagination a{
      padding: 2px 4px;
      font-size: 13px;
    }
  }
  @media (max-width: 311px)
  {
    .pagination a{
      padding: 2px 4px;
      font-size: 9px;
    }
  }
  /* End of Pagination styles */
  /* Login */ 
  .login{
    background-color: #fc8410;
    padding-bottom: 50px;
    padding-top: 50px;  
}
.login__left{
    align-items: center;
    margin-top: 120px;
    padding-left: 135px;
}
.login__left__button button{
   margin-top: 20px; 
   background-color: white;
   border: none;
   padding: 12px 32px;
   border-radius: 5px;
}
.login__left__button button:hover{
    background-color: #106853;
    color: #f8f8f8;
}
@media (max-width: 991px){
    .login__left{
        display: none;
        margin-left: 0;
    }
}
.login__right{
    background-color: #ffffff;
    border-top-left-radius: 20% 50%;
    border-bottom-left-radius: 20% 50%;
    margin-right: 135px;
    /* overflow-x: hidden; */
}
@media (max-width: 991px){
    .login__right{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}
.login__right__title{
    margin-top: 15px;
}
.login__right__input {
    text-align: center;
    width: 100%;
}   
.login__right__input input{
    width: 50%;
    margin-bottom: 12px;
    padding: 10px 15px;
} 
.login__right__bottom{
    justify-content: space-around;
    margin: 0 120px;
    color: rgb(16, 104, 83);
}
.login__right__bottom a{
    color: rgb(16, 104, 83);
}
.login__right__bottom a:hover{
    color: rgb(16, 104, 83);
}
.login__right__bottom__button{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 75px;
}
.login__right__bottom__button button{
    border: none;
    background-color: #fc8410;
    padding: 12px 52px;
    color: #f8f8f8;
    border-radius: 5px;
}
.login__right__bottom__button button:hover{
    background-color: #106853;
}
.register__right__input {
    text-align: center;
    gap: 25px;
    padding: 0 60px;
}
@media (max-width: 768px){
    .register__right__input input{
        width: 100%;
    }

}
/* Sexsi kabinet */
.kabinet__title{
    margin-bottom: 20px;
}
.kabinet__title i{
   color: #106853;
   font-size: 35px;
}
.kabinet__input label{
    width: 49%;
}
.kabinet__input input{
    width: 98%;
    padding: 10px;
    margin-bottom: 15px;
}
.kabinet__button button{
    background-color: #106853;
    border-radius: 6px;
    color: #ffff;
    padding: 10px 24px;
    border: none;
    margin-top: 15px;
    margin-bottom: 50px;
}
.kabinet__button button:hover{
    background-color: #fc8410;
}
.istek{
    background-color: #f8f8f8;
    padding-bottom: 50px;
}
.cart-item img{
    width: 100px;
}
.main__confirm{
    height: 150px;
}
/* Top Button Styles */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #fc8410;
  color: white;
  cursor: pointer;
  padding: 7px 14px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #106853;
}
.subnav {
    /* float: left; */
    overflow: hidden;
  }
  
  .subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #FFFF;
    color: black;
  }
  .subnav-content {
    display: none;
    position: absolute;
    min-height: 100%;
    top: 50px;
    margin-left: 390px;
    background-color: #FFFF;
    color: black;
    height: max-content;
    width: 800px;
    margin-top: -49px;
    }
  
  .subnav-content a {
    float: left;
    color: black;
    text-decoration: none;
  }
  
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  .subnav:hover .subnav-content {
    display: block;
   }
   @media (max-width: 1400px){.subnav-content{left: -20px; width:600px;}}
   @media (max-width: 1200px){.subnav-content{left: -78px;}}
   @media (max-width: 992px){.subnav-content{left: -160px; width:500px;}}
  /* Ferdi Filter */
  .filterDiv {
    display: none;
  }
  .show {
    display: block;
  }
  .paket tr th{
    display: none;
    background-color: #fc8410;
    color: #FFFF;
  }  
  .fa-heart {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fc8410;
    font-size: 28px;
    cursor: pointer;
  }
  .liked {
    -webkit-text-fill-color: #fc8410;
    -webkit-text-stroke-width: 1px;
    font-size: 28px;
    cursor: pointer;
  }
  .heart i.fa-heart{
    color: #fc8410;
    -webkit-text-fill-color: #fc8410;
  }
  #sebet__confirm{
    display: none;
  }